NODE_ENV=development
PORT=3000

DATABASE_URL=postgresql://refix:refix_password@localhost:5432/refix

JWT_SECRET=45b4ab127cf6042359f75e666a83c1973730577eb34bfa53636b0eef1b2493ba
JWT_EXPIRES_IN=1d

CORS_ORIGIN=http://localhost:8100